/*
Error: File to import not found or unreadable: sassycache/sassy-cache.
       Load paths:
         /home/gerome/www/github/SassyGrid/bower_components
         /home/gerome/www/github/SassyGrid/example/scss
         /tmp/gulp-ruby-sass
        on line 19 of /tmp/gulp-ruby-sass/mobile-example-sassygrid.scss

14: @import "typography";
15: @import "reset";
16: 
17: @import "sassybreakpoint/sassy-breakpoint";
18: @import "sassyplaceholder/sassy-placeholder";
19: @import "sassycache/sassy-cache";
20: 
21: @import "../../sassy-grid";
22: 
23: 
24: 

Backtrace:
/tmp/gulp-ruby-sass/mobile-example-sassygrid.scss:19
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/import_node.rb:45:in `import'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:50:in `process_result'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
/home/gerome/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/bin/sass:13:in `<top (required)>'
/home/gerome/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/home/gerome/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/home/gerome/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/home/gerome/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: sassycache/sassy-cache.\A        Load paths:\A          /home/gerome/www/github/SassyGrid/bower_components\A          /home/gerome/www/github/SassyGrid/example/scss\A          /tmp/gulp-ruby-sass\A         on line 19 of /tmp/gulp-ruby-sass/mobile-example-sassygrid.scss\A \A 14: @import \"typography\";\A 15: @import \"reset\";\A 16: \A 17: @import \"sassybreakpoint/sassy-breakpoint\";\A 18: @import \"sassyplaceholder/sassy-placeholder\";\A 19: @import \"sassycache/sassy-cache\";\A 20: \A 21: @import \"../../sassy-grid\";\A 22: \A 23: \A 24: "; }
